* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #ffe3ac;

    display: flex;
    flex-direction: column;
}

#statusBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#statusBar div {
    font-size: 3vw;
}

#canvasContainer {
    flex-grow: 1;
}

canvas {
    display: block;
    background-color: #ffe3ac;
}

.menu {
    position: fixed;
    border: 5px double black;
    background-color: #ffe3ac;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu .label {
    font-size: 2vw;
    background-color: cornflowerBlue;

    flex-grow: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu .buttonContainer {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu .buttonContainer button {
    border: none;
    background-color: coral;

    flex-grow: 1;
}

