* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #ffe3ac;

    display: flex;
    flex-direction: column;
}

#statusBar {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#statusBar div {
    font-size: 3vw;
}

#canvasContainer {
    flex-grow: 1;
}

canvas {
    display: block;
    background-color: #ffe3ac;
}

.menu {
    position: fixed;
    border: 5px double black;
    box-shadow: 3px 3px 3px black;
    background-color: #ffe3ac;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu .label {
    font-size: 2vw;

    flex-grow: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu .buttonContainer {
    max-height: 100px;

    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu .buttonContainer button {
    background-color: #ffe3ac;
    border: 1px solid black;
    margin: 5px;
    font: 2vw serif;
    font-weight: bold;

    flex-grow: 1;

    transition: 0.3s;
}

.menu .buttonContainer button:hover {
    background-color: #fed481;
}

.menu .buttonContainer button:active {
    transform: scale(0.99) translate(2px, 2px);
}
